<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма для загрузки данных</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Форма для загрузки данных</h1>
    <form method="POST" id="vodForm">
        <label for="vod_url">Введите URL трансляции:</label>
        <input type="text" id="vod_url" name="vod_url" value="{{ vod_url }}" required autocomplete="on">
        <button type="submit">Отправить</button>
    </form>

    <div>
        <p> Количество рабочих: <span id="active_tasks_counter">?</span> / <span id="max_workers_counter">?</span> </p>
    </div>

    <form id="analytics_form" method="POST" style="display: none;">
        <h2>Настройки аналитики</h2>

        <div>
            <input type="checkbox" name="metrics" value="top_chatters" checked>
            <label>Топ чаттеры</label>
            <input type="number" name="top_chatters_count" min="1" value="10" required>
        </div>

        <div>
            <input type="checkbox" name="metrics" value="chat_activity" checked>
            <label>Поиск по ключевым словам</label>
            <input type="text" name="keywords">
        </div>

        <div>
            <input type="checkbox" name="metrics" value="top_pastes" checked>
            <label>Поиск паст</label>
            <input type="number" name="top_pastes_count" min="1" value="10" required>
        </div>

        <div>
            <input type="checkbox" name="metrics" value="top_emoticons" checked>
            <label>Топ смайликов</label>
            <input type="number" name="emoticons_count" min="1" value="10" required>
        </div>

        <button type="submit">Запустить аналитику</button>
    </form>

    <p id="status_message"></p>
    <div id="results" style="margin-top: 20px;"></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>