<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма для загрузки данных</title>
</head>
<body>
    <h1>Форма для загрузки данных</h1>
    <form method="POST">
        <label for="vod_url">Введите URL трансляции:</label>
        <!-- Поле теперь сохраняет значение -->
        <input type="text" id="vod_url" name="vod_url" value="{{ vod_url }}" required>
        <button type="submit">Отправить</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% if task_id %}
        <input type="hidden" id="task_id" value="{{ task_id }}">
        <p id="status_message"></p>
    {% endif %}

    <!-- Форма аналитики -->
    <form id="analytics_form" method="POST" action="/run_analysis" style="display: none;">
        <h2>Настройки аналитики</h2>

        <!-- Топ чаттеры -->
        <div>
            <input type="checkbox" name="metrics" value="top_chatters" checked>
            <label for="top_chatters">Топ чаттеры</label>
            <div>
                <label for="top_chatters_count">Количество:</label>
                <input type="number" id="top_chatters_count" name="top_chatters_count" min="1" value="10" required>
            </div>
        </div>
        <br>

        <!-- Ключевые слова -->
        <div>
            <input type="checkbox" name="metrics" value="keywords_search" checked>
            <label for="keywords_search">Поиск по ключевым словам</label>
            <div>
                <label for="keywords">Ключевые слова (через запятую):</label>
                <input type="text" id="keywords" name="keywords" placeholder="Ключевые слова">
            </div>
        </div>
        <br>

        <!-- Поиск паст -->
        <div>
            <input type="checkbox" name="metrics" value="top_pastes" checked>
            <label for="top_pastes">Поиск паст</label>
            <div>
                <label for="top_pastes_count">Количество:</label>
                <input type="number" id="top_pastes_count" name="top_pastes_count" min="1" value="10" required>
            </div>
        </div>
        <br>

        <!-- Топ смайликов -->
        <div>
            <input type="checkbox" name="metrics" value="top_emoticons" checked>
            <label for="top_emoticons">Топ смайликов</label>
            <div>
                <label for="emoticons_count">Количество:</label>
                <input type="number" id="emoticons_count" name="emoticons_count" min="1" value="10" required>
            </div>
        </div>
        <br>

        <button type="submit">Запустить аналитику</button>
    </form>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>